<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action="tensile" method="POST">
	<h1>Tensile Strength Prediction</h1>
	Normalising Temp : <input type="text" name="not"><br><br>
	Tempering Temp : <input type="text" name="tet"><br><br>
	Silicon(%) : <input type="text" name="sip"><br><br>
	Chromium(%) : <input type="text" name="chp"><br><br>
	Copper(%) : <input type="text" name="cop"><br><br>
	Nickel(%) : <input type="text" name="nip"><br><br>
	Sulphur(%) : <input type="text" name="sup"><br><br>
	Carbon(%) : <input type="text" name="cap"><br><br>
	Manganese(%) : <input type="text" name="map"><br><br>
	<input type="submit" name="">
	{{answer}}
</form>
</body>
</html>